@import '../index.scss';

// main category

.category-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background-color: #483f35;
}

.category {
  display: flex;
  justify-content: space-between;
  color: white;
  line-height: 50px;
  min-width: 965px;
  &__li {
    position: relative;
    padding: 0 10px;
    .sub-category {
      border: 1px solid rgb(160, 160, 160);
      border-top: none;
      font-weight: 400;
      z-index: 100;
      color: #483f35;
      padding: 15px;
      line-height: 30px;
      display: none;
      position: absolute;
      left: -1px;
      width: 150px;
      background-color: #fefefe;
      &__li:hover {
        color: $brand-color;
        font-weight: 800;
        // text-decoration: underline;
      }
    }
    .last-sub-category {
      border: 1px solid rgb(160, 160, 160);
      border-top: none;
      font-weight: 400;
      z-index: 100;
      color: #483f35;
      padding: 15px;
      line-height: 30px;
      display: none;
      position: absolute;
      right: -1px;
      width: 150px;
      background-color: #fefefe;
    }
  }
  &__li:hover {
    background: #fefefe;
    color: $brand-color;
    font-weight: 600;
    .sub-category {
      display: block;
    }
    .last-sub-category {
      display: block;
    }
  }
}
