@import '../../index.scss';
.MainItemList {
  overflow: hidden;
  background: #fff;
  &__box {
    background: #fff;
    .title {
      position: relative;
      margin: 70px 0 32px;
      letter-spacing: -0.07em;
      text-align: center;
      h2 {
        font-weight: normal;
        color: #999;
        font-size: 18px;
        margin-bottom: 5px;
      }
      p {
        font-size: 34px;
        font-weight: lighter;
      }
    }
  }
  &__thumb-slides-wrap {
    min-height: 365px;
    overflow: hidden;
    .bx-wrapper {
      max-width: 100%;
      margin: 0px auto;
    }
    .bx-viewport {
      width: 100%;
      overflow: hidden;
      position: relative;
      height: 363px;
      ul {
        // width: 21215%;
        // position: relative;
        // transition-duration: 0s;
        // transform: translate3d(-980px, 0px, 0px);
        &.MainItemList__list {
          letter-spacing: -0.05em;
          overflow: hidden;
          padding: 0;
        }
        li {
          overflow: visible;
          min-height: 360px;
          float: left;
          list-style: none;
          position: relative;
          width: 215px;
          margin: 0px 15px 8px;
          .list-imgthumb {
            height: 215px;
            background: #f2f2f2;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            img {
              max-width: 100%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .list-info {
            padding: 16px 10px 12px 10px;
            text-align: center;
            .item-title {
              font-weight: bold;
              font-size: 1.6rem;
              letter-spacing: -0.07em;
              color: #000;
              width: 100%;
              margin-bottom: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .item-price {
              font-family: Verdana, sans-serif;
              letter-spacing: 0;
              text-align: center;
              .slae-price {
                font-size: 2.5rem;
                color: $brand-color;
                font-weight: normal;
                vertical-align: middle;
                line-height: 1;
                letter-spacing: -0.06em;
                margin-right: 7px;
                .unit {
                  font-weight: 600;
                  font-size: 14px;
                  position: relative;
                  top: -3px;
                  padding-left: 2px;
                }
              }
              .origin-price {
                position: relative;
                top: 2px;
                font-size: 1.4rem;
                color: #888;
                font-weight: normal;
                vertical-align: middle;
                letter-spacing: -0.06em;
              }
            }
          }
          .badge-area {
            position: relative;
            height: 24px;
            text-align: center;
            font-size: 0;
            .badge {
              display: inline-block;
              min-width: 52px;
              margin: 0 3px 0 0;
              padding: 5px 0 5px;
              text-align: center;
              font-size: 11px;
              font-weight: normal;
              color: #fff;
              font-family: 'Noto Sans KR';
              background: #c6a8a5;
              vertical-align: center;
              width: 62px;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
  .btn-more {
    display: block;
    margin: 38px auto 50px;
    padding: 16px 0 16px;
    width: 958px;
    text-align: center;
    font-size: 16px;
    color: #444;
    border: 1px solid #d7d7d7;
    &:hover {
      color: #000;
      border-color: #b4b4b4;
    }
    span {
      padding-right: 14px;
      background: url(../images/btn_arr_more.png) no-repeat 100% 8px;
    }
  }
}
